header{
    margin-bottom: 30px;

    #Banner{
        display: flex;
        flex-wrap: wrap;

        #Logo{
            font-size: 20px;
            letter-spacing: 3px;
            color: #901C1C;
            margin-left: 10px;
        }

        #NavBar {
            display: flex;
            flex-direction: row;
            margin-top: 65px;
            margin-left: 100px;
            height: 30px;
            margin: auto;
                margin-bottom: auto;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 25px;

            .navItems{
                border: 0.5px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 11px;
                height: 25px;
                width: auto;
                padding: 2px 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #901C1C;
                margin-right: 5px;
                min-width: 10px;
                letter-spacing: 1px;
                margin-bottom: 5px;
            }
        }
    }
}

@media screen and (max-width: 600px){
    #Navbar{
        width: 288px;
    }
}