#ContactMeButton{

    position: fixed;
    background: #911C1C;
    border-radius: 5px;
    z-index: 5;
    top: 95%;
    left: 33%;

    span{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    letter-spacing: 0.7px;
    }

    &:hover{
        background-color: #D3573C;
        border: 1px solid white;
        box-shadow: 1px 1px 1px;
    }
}