header {
  margin-bottom: 30px;
}
header #Banner {
  display: flex;
  flex-direction: column;
}
header #Banner #Logo {
  font-size: 20px;
  letter-spacing: 3px;
  color: #901C1C;
  margin-left: 10px;
}
header #Banner #NavBar {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  margin-left: 100px;
  height: 30px;
  width: 288px;
  margin: auto;
  margin-bottom: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}
header #Banner #NavBar .navItems {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  height: 25px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

#Artistes {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#Artistes .ArtistProfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
}
#Artistes .ArtistProfil .ArtistPhot img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
#Artistes .ArtistProfil .ArtistName span {
  color: #D3573C;
  font-size: 36px;
  line-height: 47px;
}
#Artistes .ArtistProfil .ArtistCity span {
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
}
#Artistes .ArtistProfil .ArtistDescription span {
  font-size: 10px;
}
#Artistes .ArtistProfil .ArtistPrix span {
  font-size: 9px;
  color: #757575;
  line-height: 12px;
}
#Artistes .ArtistProfil .ArtistHashtags {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#Artistes .ArtistProfil .ArtistHashtags .Hashtag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
}

#Title h2 {
  position: absolute;
  right: 24px;
  top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #911C1C;
  letter-spacing: 0.5px;
}

header #BannerPhoto {
  font-size: 20px;
  letter-spacing: 3px;
  color: #901C1C;
  margin-left: 30px;
}

#ProfilGallery {
  margin-bottom: 60px;
}
#ProfilGallery #PhotographProfil {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: space-evenly;
}
#ProfilGallery #PhotographProfil .ArtistPhot img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#ProfilGallery #PhotographProfil #PhotoDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistName {
  font-size: 36px;
  line-height: 47px;
  color: #D3573C;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistCity {
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistDescription {
  font-size: 13px;
  line-height: 17px;
  color: #757575;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistHashtags {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistHashtags .Hashtag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
}
#ProfilGallery #PhotographGallery {
  margin-top: 40px;
}
#ProfilGallery #PhotographGallery #Photo {
  margin: auto;
  width: 90%;
}
#ProfilGallery #PhotographGallery #Photo img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
#ProfilGallery #PhotographGallery #Photo .PhotoName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -4px;
  margin-bottom: 10px;
  color: #901C1C;
}
#ProfilGallery #PhotographGallery #Photo .PhotoName span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ContactMeButton {
  position: fixed;
  background: #911C1C;
  border-radius: 5px;
  z-index: 5;
  top: 95%;
  left: 33%;
}
#ContactMeButton span {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  letter-spacing: 0.7px;
}
#ContactMeButton:hover {
  background-color: #D3573C;
  border: 1px solid white;
  box-shadow: 1px 1px 1px;
}

.modal-btn {
  font-size: 145%;
  background: #fe142f;
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

.footer {
  margin: 20px;
  padding: 10px;
}

#validation-message {
  width: 486px;
  margin: auto;
  padding: 50px 10px;
  position: absolute;
  left: 33%;
  top: 80%;
  z-index: 2;
  border: #279e7a solid 2px;
  color: #279e7a;
  font-weight: bold;
  background-color: white;
  justify-content: center;
  display: none;
}

#validation-message h3 {
  margin-left: 67px;
}

.button {
  background: #fe142f;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: #3876ac;
}

.smFont {
  font-size: 16px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 7% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 10px 8%;
  margin: 53px auto;
}

label {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.checkbox-input {
  font-size: 12px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 29px;
  font-size: 12px;
  font-weight: normal;
  text-align: start;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -24px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.btn-submit,
.btn-signup,
.btn-close {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border: 0;
  background: #911C1C;
  border-radius: 5px;
}

#confirmation {
  height: 607px;
  width: 100%;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
}

#confirmation h1 {
  text-align: center;
  font-size: 36px;
}

#confirmation .btn-close {
  position: absolute;
  right: 0;
  bottom: 45px;
  left: 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-label {
  font-weight: normal;
  font-size: 14px;
}

.hero-section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 80%;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content > * {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 59px;
  position: fixed;
  z-index: 100;
  top: 84%;
  right: 36%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.7px;
}

.hero-section > .btn-signup {
  display: none;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*@media screen and (min-width: 450px){
    header{
        #Banner{
            display: flex;
            flex-direction: column;
        }
    }
}*/

/*# sourceMappingURL=style.css.map */
