header {
  margin-bottom: 30px;
}
header #Banner {
  display: flex;
  flex-wrap: wrap;
}
header #Banner #Logo {
  font-size: 20px;
  letter-spacing: 3px;
  color: #901C1C;
  margin-left: 10px;
}
header #Banner #NavBar {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  margin-left: 100px;
  height: 30px;
  margin: auto;
  margin-bottom: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 50px;
}
header #Banner #NavBar .navItems {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  height: 25px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
#Logo img{
  height: 30px;
  margin-top: 38px;
}

@media screen and (max-width: 600px) {
  #Navbar {
    width: 288px;
  
}
}
.Artistes {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
}
.ArtistProfil {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:10px 10px 50px 10px;
  justify-content: center;
  width: 250px;
  padding: 10px;
}
.ArtistProfil:hover{
  border: 3px solid #D3573C;
  border-radius: 15%;
  box-shadow: 0px 4px 9px 2px;

}
.Artistes .ArtistProfil .ArtistPhot{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  margin-bottom: 10px;
}
.Artistes .ArtistProfil .ArtistName span {
  color: #D3573C;
  font-size: 36px;
  line-height: 47px;
}
.Artistes .ArtistProfil .ArtistCity span {
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
}
.Artistes .ArtistProfil .ArtistDescription span {
  font-size: 10px;
}
.ArtistPrix {
  font-size: 9px;
  color: #757575;
  line-height: 12px;
}
.ArtistHashtags {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.Hashtag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
}

#Title h2 {
  position: absolute;
  right: 24px;
  top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #911C1C;
  letter-spacing: 0.5px;
}

header #BannerPhoto {
  font-size: 20px;
  letter-spacing: 3px;
  color: #901C1C;
  margin-left: 30px;
}

#ProfilGallery {
  margin-bottom: 60px;
}
#ProfilGallery #PhotographProfil {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  justify-content: space-evenly;
}
#ProfilGallery #PhotographProfil .ArtistPhot img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#ProfilGallery #PhotographProfil #PhotoDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ArtistName {
  font-size: 36px;
  line-height: 47px;
  color: #D3573C;
}
.ArtistCity {
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
}
.ArtistDescription {
  font-size: 13px;
  line-height: 17px;
  color: #757575;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistHashtags {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#ProfilGallery #PhotographProfil #PhotoDescription .ArtistHashtags .Hashtag {
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  width: auto;
  padding: 2px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
  margin-right: 5px;
  min-width: 10px;
}
#ProfilGallery #PhotographGallery {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
#ProfilGallery #PhotographGallery #Photo {
  margin: auto;
  max-width: 350px;
  min-width: 300px;
  max-height: 300px;
}
#ProfilGallery #PhotographGallery #Photo img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
#ProfilGallery #PhotographGallery #Photo .PhotoName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -4px;
  margin-bottom: 10px;
  color: #901C1C;
}
#ProfilGallery #PhotographGallery #Photo .PhotoName span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ContactMeButton {
  position: fixed;
  background: #911C1C;
  border-radius: 5px;
  z-index: 5;
  top: 95%;
  left: 33%;
}
#ContactMeButton span {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  letter-spacing: 0.7px;
}
#ContactMeButton:hover {
  background-color: #D3573C;
  border: 1px solid white;
  box-shadow: 1px 1px 1px;
}



.footer {
  margin: 20px;
  padding: 10px;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
}